In [616]:
import numpy as np
import pandas as pd

In [617]:
repo = ('C:/Users/Ben Noyes/Desktop/Atom/Atom/Next Day Temperatures/Datasets/temps.csv')

df = pd.read_csv(repo, skipinitialspace=False)

In [618]:
df.isnull().sum()

year              0
month             0
day               0
week              0
temp_2            0
temp_1            0
average           0
actual            0
forecast_noaa     0
forecast_acc      0
forecast_under    0
friend            0
dtype: int64

In [619]:
df.columns

Index(['year', 'month', 'day', 'week', 'temp_2', 'temp_1', 'average', 'actual',
       'forecast_noaa', 'forecast_acc', 'forecast_under', 'friend'],
      dtype='object')

In [620]:
len(df)

348

In [621]:
len(df.columns)

12

In [622]:
df[:5]

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

In [623]:
from math import sqrt

In [624]:
np.max(df.day)

31

In [625]:
np.max(df.month)

12

In [626]:
np.max(df.year)

2016

In [627]:
GroupB_06 = df.groupby('month').agg({'average':[np.max,np.min,np.min,np.var]})

GroupB_06

      average
         amax  amin  amin       var
month
1        48.7  45.6  45.6  0.947957
2        51.3  48.8  48.8  0.635462
3        55.9  51.5  51.5  1.792624
4        61.4  56.0  56.0  2.687920
5        67.3  61.6  61.6  2.949290
6        72.8  67.4  67.4  2.695816
7        77.4  73.1  73.1  1.884000
8        77.4  74.6  74.6  0.632456
9        73.9  65.7  65.7  6.372844
10       65.3  54.8  54.8  9.988103
11       54.5  47.6  47.6  4.395862
12       47.4  45.1  45.1  0.480624

In [628]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            348 non-null    int64
 1   month           348 non-null    int64
 2   day             348 non-null    int64
 3   week            348 non-null    object
 4   temp_2          348 non-null    int64
 5   temp_1          348 non-null    int64
 6   average         348 non-null    float64
 7   actual          348 non-null    int64
 8   forecast_noaa   348 non-null    int64
 9   forecast_acc    348 non-null    int64
 10  forecast_under  348 non-null    int64
 11  friend          348 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 32.8+ KB

In [629]:
def sum_of_squares_residuals(x):
    SSx = np.sum(x**2) - (1/len(x))*((np.sum(x))**2)
    return SSx

def correlation_coefficient(x, y):
    r = np.sum((x - np.mean(x)) * (y - np.mean(y))) / \
        (sqrt((np.sum((x - np.mean(x))**2))) * sqrt((np.sum((y - np.mean(y))**2))))
    return r

In [630]:
r_01 = correlation_coefficient(df.month, df.average)
r_02 = correlation_coefficient(df.day, df.average)

In [631]:
Month_AsList = list(i for i in df.month)
Day_AsList = list(i for i in df.day)
MonthValue_AsList = []

for i in Month_AsList:
    j = i - 1
    f = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    k = f[0:j]
    MonthValue_AsList.append(np.sum(k))

MonthValue_AsArray = np.array(MonthValue_AsList)
Day_AsArray = np.array(Day_AsList)
dayofyear = MonthValue_AsArray + Day_AsArray

df['dayofyear'] = dayofyear

In [632]:
r_03 = correlation_coefficient(df.dayofyear, df.average)

In [633]:
df[-5:]

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,dayofyear
343,2016,12,27,Tues,42,42,45.2,47,41,50,47,47,362.0
344,2016,12,28,Wed,42,47,45.3,48,41,49,44,58,363.0
345,2016,12,29,Thurs,47,48,45.3,48,43,50,45,65,364.0
346,2016,12,30,Fri,48,48,45.4,57,44,46,44,42,365.0
347,2016,12,31,Sat,48,57,45.5,40,42,48,47,57,366.0

In [634]:
correlation_coefficients_AsList = [r_01,r_02,r_03]
correlation_coefficients_AsList

[0.1208056286587764, -0.02113592167537463, 0.1169891619536135]

In [635]:
import plotly.io as pio
import plotly.graph_objs as go
from plotly.subplots import make_subplots
from plotly.offline import plot, iplot
import matplotlib.pyplot as plt

In [636]:
fig01 = make_subplots(rows=1,cols=1, specs=[[{'type':'bar'}]])

fig01.add_scatter(x=df.index,
                 y=df.average,
                 mode='markers',
                  row=1,col=1)

plot(fig01)

'temp-plot.html'

In [637]:
fig02 = make_subplots(rows=2, cols=2, specs= [[{'type':'scatter'}, {'type':'scatter'}], [{'type':'scatter'}, {'type':'scatter'}]], shared_yaxes=True)

fig02.add_scatter(x = np.array(df.index),
                 y = np.array(df.temp_1),
                  mode='lines',
                  name='temp1',
                 row=1, col=1)
fig02.add_scatter(x = np.array(df.index),
                 y = np.array(df.average),
                 mode='lines',
                 name='average',
                 row=1, col=1,
                 marker={'color':'rgb(239, 85, 59)'},
                 opacity=0.5)

fig02.add_scatter(x = np.array(df.index),
                 y = np.array(df.actual),
                  mode='lines',
                  name='actual',
                 row=1, col=2)
fig02.add_scatter(x = np.array(df.index),
                 y = np.array(df.average),
                 mode='lines',
                 name='average',
                 row=1, col=2,
                 marker={'color':'rgb(239, 85, 59)'},
                 opacity=0.5)

fig02.add_scatter(x = np.array(df.index),
                 y = np.array(df.temp_2),
                  mode='lines',
                  name='temp2',
                 row=2, col=1)
fig02.add_scatter(x = np.array(df.index),
                 y = np.array(df.average),
                 mode='lines',
                 name='average',
                 row=2, col=1,
                 marker={'color':'rgb(239, 85, 59)'},
                 opacity=0.5)

fig02.add_scatter(x = np.array(df.index),
                 y = np.array(df.forecast_noaa),
                  mode='lines',
                  name='forecast',
                 row=2, col=2)
fig02.add_scatter(x = np.array(df.index),
                 y = np.array(df.average),
                 mode='lines',
                 name='average',
                 row=2, col=2,
                 marker={'color':'rgb(239, 85, 59)'},
                 opacity=0.5)

fig02.update_layout({'title':{'text':'Temperature predictions by dataframe location'}})

fig02.update_yaxes({'title':{'text':'Temps'}})
fig02.update_xaxes({'title':{'text':'First Temp'}}, row=1, col=1)
fig02.update_xaxes({'title':{'text':'Actual'}}, row=1, col=2)
fig02.update_xaxes({'title':{'text':'Second Temp'}}, row=2, col=1)
fig02.update_xaxes({'title':{'text':'Forecast'}}, row=2, col=2)

plot(fig02)

'temp-plot.html'

In [638]:
df[::10]

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,dayofyear
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29,1.0
10,2016,1,11,Mon,50,52,46.7,45,42,48,48,39,11.0
20,2016,1,21,Thurs,48,52,47.8,52,43,51,46,57,21.0
30,2016,1,31,Sun,52,48,48.7,47,47,52,49,61,31.0
40,2016,2,10,Wed,57,62,49.4,56,48,50,49,30,41.0
50,2016,2,22,Mon,53,51,50.6,51,46,51,50,59,53.0
60,2016,3,4,Fri,55,59,51.9,57,47,56,53,45,64.0
70,2016,3,14,Mon,52,54,53.4,49,49,58,55,44,74.0
80,2016,3,24,Thurs,57,53,54.9,54,54,56,56,72,84.0
90,2016,4,3,Sun,71,63,56.3,69,54,61,56,64,94.0
100,2016,4,13,Wed,58,60,57.9,59,55,62,56,77,104.0
110,2016,4,23,Sat,73,64,59.9,65,56,63,59,57,114.0
120,2016,5,3,Tues,77,87,62.1,74,62,66,64,69,124.0
130,2016,5,13,Fri,81,77,64.3,82,63,67,66,67,134.0
140,2016,5,23,Mon,59,66,66.1,65,63,68,68,66,144.0
150,2016,6,2,Thurs,79,75,67.6,71,64,71,67,77,154.0
160,2016,6,12,Sun,67,65,69.1,70,65,73,70,83,164.0
170,2016,6,22,Wed,76,73,71.0,75,66,71,72,78,174.0
180,2016,7,2,Sat,73,76,73.3,76,70,77,73,84,184.0
190,2016,7,12,Tues,74,74,75.4,77,74,77,77,71,194.0
200,2016,7,22,Fri,82,81,76.9,71,72,77,76,70,204.0
210,2016,8,1,Mon,76,73,77.4,77,76,78,79,65,214.0
220,2016,8,11,Thurs,72,76,76.9,80,74,81,75,80,224.0
230,2016,9,4,Sun,70,67,73.7,68,72,77,75,64,248.0
240,2016,9,14,Wed,74,75,71.2,79,67,75,73,77,258.0
250,2016,9,24,Sat,67,64,68.0,67,65,71,66,64,268.0
260,2016,10,4,Tues,65,61,64.1,63,62,69,65,60,278.0
270,2016,10,14,Fri,66,60,60.2,60,56,64,60,78,288.0
280,2016,10,24,Mon,62,62,56.8,61,52,61,57,70,298.0
290,2016,11,4,Fri,57,65,53.7,65,49,55,54,38,309.0
300,2016,11,14,Mon,59,55,51.2,57,49,53,53,42,319.0
310,2016,11,24,Thurs,54,49,48.9,52,47,53,48,29,329.0
320,2016,12,4,Sun,50,49,46.8,46,45,47,47,53,339.0
330,2016,12,14,Wed,43,40,45.4,39,45,48,45,49,349.0
340,2016,12,24,Sat,45,40,45.1,41,44,47,46,39,359.0

In [639]:
test = pd.DataFrame({'year':2017,'month':1,'day':1,'week':'Sun','temp_2':np.nan,'temp_1':np.nan, 'average':np.nan,'actual':np.nan,'forecast_noaa':np.nan,'forecast_acc':np.nan,'forecast_under':np.nan, 'friend':np.nan,'dayofyear':1}, index = [np.max(df.index)+1])
test[:5]

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,dayofyear
348,2017,1,1,Sun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [640]:
print(test.columns)
print(df.columns)

Index(['year', 'month', 'day', 'week', 'temp_2', 'temp_1', 'average', 'actual',
       'forecast_noaa', 'forecast_acc', 'forecast_under', 'friend',
       'dayofyear'],
      dtype='object')
Index(['year', 'month', 'day', 'week', 'temp_2', 'temp_1', 'average', 'actual',
       'forecast_noaa', 'forecast_acc', 'forecast_under', 'friend',
       'dayofyear'],
      dtype='object')

In [641]:
def ColumnsMatch(x, y):
    x = np.array(x.columns)
    y = np.array(y.columns)
    z = np.random.randint(0, len(x))
    if len(x) != len(y):
        raise Exception
    elif x.shape != y.shape:
        raise Exception
    elif x.size != y.size:
        raise Exception
    elif x[z] != y[z]:
        raise Exception
    elif np.unique(x).all() != np.unique(y).all():
        raise Exception
    elif x[0:z].any() != y[0:z].any():
        raise Exception
    else:
        return print('the columns match')

In [642]:
ColumnsMatch(df, test)

the columns match

In [643]:
df = df.append(test)

In [644]:
from sklearn.preprocessing import OneHotEncoder

In [645]:
onehot = OneHotEncoder()

encoded = pd.DataFrame(onehot.fit_transform(df[['week']]).toarray(), columns=['Fri', 'Mon', 'Sat','Sun','Thurs','Tues','Wed'])

df_encoded = pd.concat([df.drop(['week'],1), encoded], 1)

df_encoded[:5]

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,dayofyear,Fri,Mon,Sat,Sun,Thurs,Tues,Wed
0,2016,1,1,45.0,45.0,45.6,45.0,43.0,50.0,44.0,29.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2016,1,2,44.0,45.0,45.7,44.0,41.0,50.0,44.0,61.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2016,1,3,45.0,44.0,45.8,41.0,43.0,46.0,47.0,56.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,2016,1,4,44.0,41.0,45.9,40.0,44.0,48.0,46.0,53.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,2016,1,5,41.0,40.0,46.0,44.0,46.0,46.0,46.0,41.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [646]:
all_values = np.array(df_encoded)

In [647]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

iterative = IterativeImputer(max_iter=10, random_state=42)

predict = pd.DataFrame(iterative.fit_transform(all_values), columns=df_encoded.columns)

predict[-5:]

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,dayofyear,Fri,Mon,Sat,Sun,Thurs,Tues,Wed
344,2016.0,12.0,28.0,42.000000,47.000000,45.300000,48.00000,41.000000,49.000000,44.000000,58.000000,363.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
345,2016.0,12.0,29.0,47.000000,48.000000,45.300000,48.00000,43.000000,50.000000,45.000000,65.000000,364.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
346,2016.0,12.0,30.0,48.000000,48.000000,45.400000,57.00000,44.000000,46.000000,44.000000,42.000000,365.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
347,2016.0,12.0,31.0,48.000000,57.000000,45.500000,40.00000,42.000000,48.000000,47.000000,57.000000,366.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
348,2017.0,1.0,1.0,63.628334,63.053558,59.795996,64.04579,57.149711,62.249101,59.754652,59.959396,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [648]:
predict[predict.dayofyear == 1.0]

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,dayofyear,Fri,Mon,Sat,Sun,Thurs,Tues,Wed
0,2016.0,1.0,1.0,45.000000,45.000000,45.600000,45.00000,43.000000,50.000000,44.000000,29.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
348,2017.0,1.0,1.0,63.628334,63.053558,59.795996,64.04579,57.149711,62.249101,59.754652,59.959396,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [649]:
# baseline
df = df_encoded

AllTemps_AsList = []

for q in df.index:
    w = df.loc[q, 'temp_2':'dayofyear']
    df_alltemps.append(w)
    AllTemps_AsList.append(w)

In [650]:
df_alltemps = pd.DataFrame(AllTemps_AsList, index=range(0, len(AllTemps_AsList)), columns = ['temp_2','temp_1','average','actual','forecast_noaa','forecast_acc','forecast_under','friend','dayofyear'] )

In [651]:
MaxTemps_AsList = list(np.max(df_alltemps.loc[i, 'temp_2':'friend']) for i in df_alltemps.index)

df['MaxTemps'] = MaxTemps_AsList

In [652]:
df[-10:]

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,dayofyear,Fri,Mon,Sat,Sun,Thurs,Tues,Wed,MaxTemps
339,2016,12,23,49.0,45.0,45.1,40.0,45.0,49.0,44.0,35.0,358.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,49.0
340,2016,12,24,45.0,40.0,45.1,41.0,44.0,47.0,46.0,39.0,359.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,47.0
341,2016,12,25,40.0,41.0,45.1,42.0,42.0,49.0,44.0,31.0,360.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,49.0
342,2016,12,26,41.0,42.0,45.2,42.0,45.0,48.0,46.0,58.0,361.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,58.0
343,2016,12,27,42.0,42.0,45.2,47.0,41.0,50.0,47.0,47.0,362.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,50.0
344,2016,12,28,42.0,47.0,45.3,48.0,41.0,49.0,44.0,58.0,363.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,58.0
345,2016,12,29,47.0,48.0,45.3,48.0,43.0,50.0,45.0,65.0,364.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,65.0
346,2016,12,30,48.0,48.0,45.4,57.0,44.0,46.0,44.0,42.0,365.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,57.0
347,2016,12,31,48.0,57.0,45.5,40.0,42.0,48.0,47.0,57.0,366.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,57.0
348,2017,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN

In [653]:
df.dropna()

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,dayofyear,Fri,Mon,Sat,Sun,Thurs,Tues,Wed,MaxTemps
0,2016,1,1,45.0,45.0,45.6,45.0,43.0,50.0,44.0,29.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0
1,2016,1,2,44.0,45.0,45.7,44.0,41.0,50.0,44.0,61.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,61.0
2,2016,1,3,45.0,44.0,45.8,41.0,43.0,46.0,47.0,56.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,56.0
3,2016,1,4,44.0,41.0,45.9,40.0,44.0,48.0,46.0,53.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,53.0
4,2016,1,5,41.0,40.0,46.0,44.0,46.0,46.0,46.0,41.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,2016,12,27,42.0,42.0,45.2,47.0,41.0,50.0,47.0,47.0,362.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,50.0
344,2016,12,28,42.0,47.0,45.3,48.0,41.0,49.0,44.0,58.0,363.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,58.0
345,2016,12,29,47.0,48.0,45.3,48.0,43.0,50.0,45.0,65.0,364.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,65.0
346,2016,12,30,48.0,48.0,45.4,57.0,44.0,46.0,44.0,42.0,365.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,57.0
347,2016,12,31,48.0,57.0,45.5,40.0,42.0,48.0,47.0,57.0,366.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,57.0

In [654]:
prediction = pd.DataFrame({'MaxTemps':df.MaxTemps, 'dayofyear':df.dayofyear})
prediction.head()

   MaxTemps  dayofyear
0      50.0        1.0
1      61.0        2.0
2      56.0        3.0
3      53.0        4.0
4      46.0        5.0

In [655]:
fig03 = make_subplots(rows=1, cols=1, specs=[[{'type':'scatter'}]])

fig03.add_scatter(x =np.array(df.dayofyear),
                 y = np.array(df.forecast_acc),
                  mode='lines',
                  opacity=0.5,
                  name='acc forecast, last year',
                  row=1,col=1
                 )

fig03.add_scatter(x =np.array(df.dayofyear),
                 y = np.array(df.actual),
                  mode='lines',
                  name='actual, last year',
                  row=1,col=1
                 )

fig03.add_scatter(x =np.array(prediction.dayofyear),
                 y = np.array(prediction.MaxTemps),
                  mode='markers',
                  name='prediction',
                  row=1,col=1
                 )

fig03.update_layout({'title':{'text':'Baseline Predictions'}})

fig03.update_xaxes({'title':{'text':'day of the year'}})
fig03.update_yaxes({'title':{'text':'temps'}})

plot(fig03)

'temp-plot.html'

In [656]:
# baseline error sum

def baseline():
    pred_error = list(abs(df.loc[i, 'MaxTemps'] - np.mean(df.loc[i, 'temp_2':'friend'])) for i in df.index)
    df['prediction_error'] = pred_error
    mean_pred_error = np.mean(df.prediction_error)
    print(mean_pred_error)


baseline()
df[:5]

8.805064655172417

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,...,dayofyear,Fri,Mon,Sat,Sun,Thurs,Tues,Wed,MaxTemps,prediction_error
0,2016,1,1,45.0,45.0,45.6,45.0,43.0,50.0,44.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0,6.6750
1,2016,1,2,44.0,45.0,45.7,44.0,41.0,50.0,44.0,...,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,61.0,14.1625
2,2016,1,3,45.0,44.0,45.8,41.0,43.0,46.0,47.0,...,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,56.0,10.0250
3,2016,1,4,44.0,41.0,45.9,40.0,44.0,48.0,46.0,...,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,53.0,7.7625
4,2016,1,5,41.0,40.0,46.0,44.0,46.0,46.0,46.0,...,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,46.0,2.2500

In [657]:
df['random'] = np.random.random(size=len(df))

In [658]:
df = df.dropna()

train = df
test = pd.DataFrame(np.copy(df), columns = df.columns)

test.loc[:, 'temp_2':'friend'] = np.nan
test['MaxTemps'] = np.nan
test['prediction_error'] = np.nan
test['year'] = 2017

In [659]:
train = train[['dayofyear','month','day','Fri','Mon','Sat','Sun','Thurs','Tues','Wed','random','actual',]]

test = test[['dayofyear','month','day','Fri','Mon','Sat','Sun','Thurs','Tues','Wed','random','actual']]

In [660]:
# train_method2 = train[['dayofyear','month','day','temp_2', 'temp_1', 'average',
#        'forecast_noaa', 'forecast_acc', 'forecast_under', 'friend','actual']]
# test_method2 = test

# train = train_method2
# test = test_method2

In [661]:
import eli5
from eli5.sklearn import PermutationImportance
from sklearn.ensemble import RandomForestRegressor

X_train = train.drop(['actual'],1)
Y_train = train[['actual']].squeeze()

rf = RandomForestRegressor(n_estimators=100, oob_score=True, random_state=42)
rf.fit(X_train, Y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=True,
                      random_state=42, verbose=0, warm_start=False)

In [662]:
print(rf.score(X_train, Y_train))
print(rf.oob_score_)

0.9770793217302192
0.829358793468549

In [663]:
features_perm = PermutationImportance(rf, n_iter=50).fit(X_train, Y_train)

eli5.show_weights(features_perm)

In [664]:
feature_importances_eli5 = pd.DataFrame(features_perm.feature_importances_, index=X_train.columns, columns=['A'])
feature_importances_eli5 = feature_importances_eli5.sort_values('A',ascending=True)

In [665]:
fig04 = make_subplots(rows=1,cols=1, specs=[[{'type':'bar'}]])

fig04.add_bar(y=feature_importances_eli5.index,
             x=feature_importances_eli5.A,
             orientation='h',
             name='feature importances of each column',
             row=1,col=1)

fig04.update_layout({'title':{'text':'Feature Importances with eli5'}})

fig04.update_xaxes({'title':{'text':'random forest feature importances'}})
fig04.update_yaxes({'title':{'text':'input to predictions'}})

plot(fig04)

'temp-plot.html'

In [666]:
from sklearn.base import clone

In [667]:
def FeatureImportances():
    rf_clone = clone(rf)
    rf_clone.random_state=42
    rf_clone.fit(X_train, Y_train)
    benchmark_score = rf_clone.score(X_train, Y_train)
    benchmark_oob = rf_clone.oob_score_
    
    for t in X_train.columns:
        rf_clonet = clone(rf)
        rf_clone.random_state=42
        rf_clone.fit(X_train.drop([t],1), Y_train)
        
        dropcol_score = rf_clone.score(X_train.drop([t],1), Y_train)
        dropcol_oob = rf_clone.oob_score_
        
        score_AsList.append(benchmark_score - dropcol_score)
        oob_AsList.append(benchmark_oob - dropcol_oob)

In [668]:
X_train.columns

score_AsList = []
oob_AsList = []

In [669]:
FeatureImportances()

In [670]:
feature_importances_dropcol = pd.DataFrame({'A':score_AsList,
                                            'B':oob_AsList}, index=X_train.columns)
feature_importances_dropcol = feature_importances_dropcol.sort_values('A',ascending=True)
print(feature_importances_dropcol)

                  A         B
random    -0.002313 -0.017933
Mon       -0.000890 -0.007293
Sun       -0.000435 -0.004348
Fri       -0.000369 -0.002844
Thurs     -0.000190 -0.001035
Sat       -0.000056 -0.000716
month      0.000107  0.001244
Wed        0.000107 -0.000784
Tues       0.000136  0.000093
day        0.003374  0.028247
dayofyear  0.007516  0.054898

In [671]:
fig05 = make_subplots(rows=1,cols=2, specs=[[{'type':'bar'}, {'type':'bar'}]], shared_yaxes=True)

fig05.add_bar(y = feature_importances_dropcol.index,
             x = feature_importances_dropcol.A,
              orientation='h',
              name='r2 training',
             row=1, col=1)

fig05.add_bar(y = feature_importances_dropcol.index,
             x = feature_importances_dropcol.B,
              orientation='h',
              name='out-of-the-box',
             row=1, col=2)

fig05.update_layout({'title':{'text':'Feature Importances by Dropcol'}})

fig05.update_yaxes({'title':{'text':'input to predictions'}})
fig05.update_xaxes({'title':{'text':'r2 training score'}}, row=1, col=1)
fig05.update_xaxes({'title':{'text':'oob score'}}, row=1, col=2)

plot(fig05)

'temp-plot.html'

In [672]:
X_test = test[['dayofyear','day']]
Y_test = test[['actual']].squeeze()

In [673]:
X_train = train[['dayofyear','day']]
Y_train = train[['actual']].squeeze()

In [674]:
GroupB_act = train.groupby('month').agg({'actual':[np.min,np.max,np.mean,np.var]})
GroupB_act

      actual
        amin  amax       mean        var
month
1       40.0  57.0  49.741935  20.597849
2       46.0  62.0  54.346154  17.915385
3       49.0  73.0  57.096774  26.690323
4       55.0  89.0  66.266667  71.995402
5       57.0  87.0  69.193548  61.094624
6       60.0  92.0  73.033333  56.378161
7       68.0  88.0  76.225806  25.380645
8       70.0  90.0  77.789474  30.508772
9       64.0  79.0  70.321429  16.003968
10      57.0  68.0  62.000000   8.275862
11      48.0  71.0  56.733333  31.788506
12      35.0  57.0  43.354839  25.236559

In [675]:
train = train[['dayofyear','day','month','actual']]
test = test[['dayofyear','day','month','actual']]

print(test.shape)
print(train.shape)

(348, 4)
(348, 4)

In [676]:
import xgboost as xgb

In [677]:
label = np.random.randint(35, 92, size=348)
dtrain = xgb.DMatrix(train, label)

In [678]:
label = np.random.randint(35,92,size=348)
dtest = xgb.DMatrix(test,label)

In [679]:
param ={'learning_rate':1,'objective':'reg:squarederror','num_parallel_trees':5}

eval_list = [(dtrain, 'train'), (dtest, 'eval')]

eval_metric = {'eval_metric':'logloss'}

num_boost_round = 20

In [680]:
bst = xgb.train(param, dtrain, num_boost_round, eval_list)

[15:52:38] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.1.0\src\learner.cc:480:
Parameters: { num_parallel_trees } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:16.62202	eval-rmse:17.44198
[1]	train-rmse:14.74863	eval-rmse:18.54415
[2]	train-rmse:13.02260	eval-rmse:22.61924
[3]	train-rmse:11.19845	eval-rmse:22.75838
[4]	train-rmse:10.38258	eval-rmse:23.09456
[5]	train-rmse:9.49196	eval-rmse:23.44421
[6]	train-rmse:8.68472	eval-rmse:22.55670
[7]	train-rmse:7.10020	eval-rmse:22.47883
[8]	train-rmse:6.24532	eval-rmse:22.42460
[9]	train-rmse:5.37477	eval-rmse:22.63833
[10]	train-rmse:4.83206	eval-rmse:22.34670
[11]	train-rmse:4.46494	eval-rmse:22.45157
[12]	train-rmse:3.83811	eval-rmse:22.35078
[13]	train-rmse:3.49336	eval-rmse:22.26070
[14]	train-rmse:2.70527	eval-rmse:22.27226
[15]	train-rmse:2.40009	eval-rmse:22.20398
[16]	train-rmse:2.30302	eval-rmse:22.38629
[17]	train-rmse:2.25531	eval-rmse:22.42342
[18]	train-rmse:2.14533	eval-rmse:22.41276
[19]	train-rmse:1.72093	eval-rmse:22.28543

In [681]:
preds = bst.predict(dtest)

In [682]:
predictions_xgb = pd.DataFrame({'dayofyear':X_train.dayofyear, 'actual':preds})

In [683]:
predictions_xgb[:5]

   dayofyear     actual
0        1.0  29.981726
1        2.0  39.182625
2        3.0  27.119862
3        4.0  23.828140
4        5.0  30.622663

In [684]:
rf.fit(X_train, Y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=True,
                      random_state=42, verbose=0, warm_start=False)

In [685]:
rfpreds = rf.predict(X_test)

In [686]:
predictions_rf = pd.DataFrame({'dayofyear':test.dayofyear,'actual':rfpreds})

In [687]:
predictions_rf[:5]

   dayofyear  actual
0        1.0   44.34
1        2.0   43.89
2        3.0   42.21
3        4.0   41.02
4        5.0   43.73

In [ ]:
fig06 = make_subplots(rows=1,cols=1,specs=[[{'type':'scatter'}]])

fig06.add_scatter(x=df.dayofyear,
                 y=np.array(df.actual) + np.array(df.prediction_error),
                  name='',
                  mode='lines',
                  marker={'color':'rgb(239, 85, 59)'},
                  line={'width':0},
                 row=1, col=1)

fig06.add_scatter(x=df.dayofyear,
                 y=np.array(df.actual) - np.array(df.prediction_error),
                 name='baseline prediction',
                  mode='lines',
                  fill='tonexty',
                  marker={'color':'rgb(239, 85, 59)'},
                  line={'width':0},
                 row=1, col=1)

fig06.add_scatter(x=predictions_xgb.dayofyear,
                 y=predictions_xgb.actual,
                  name='pred with xgb',
                 mode='markers',
                  marker={'color':'rgb(0, 204, 150)'},
                 row=1,col=1)

fig06.add_scatter(x=predictions_rf.dayofyear,
                 y=predictions_rf.actual,
                  name='pred with random forest',
                 mode='lines+markers',
                  marker={'color':'rgb(99, 110, 250)'},
                 row=1,col=1)

fig06.update_layout({'title':{'text':'Temperature Predictions, 2017'}})
fig06.update_xaxes({'title':{'text':'Day of the Year'}})
fig06.update_yaxes({'title':{'text':'Est Temperature'}})


plot(fig06)